<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="https://www.facebook.com"/>

		<add key="TestDataSheetPath" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\Data\User\Credentials.xlsx"/>

		<add key="extentReport" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\Reporter\"/>
		
		<add key="loginss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Login.jpeg"/>
		<add key="statusss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Status.jpeg"/>
		<add key="logoutss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Logout.jpeg"/>

		

		<add key="autoit_user1" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\AutoIT Files\Fileupload.exe"/>
		<add key="autoit_user2" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\AutoIT Files\Fileupload_User2.exe"/>
	</appSettings>

	
</configuration>