<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://www.facebook.com" />
    <add key="TestDataSheetPath" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\Data\User\Credentials.xlsx" />
    <add key="extentReport" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\Reporter\" />
    <add key="loginss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Login.jpeg" />
    <add key="statusss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Status.jpeg" />
    <add key="logoutss" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\ScreenShots\Logout.jpeg" />
    <add key="autoit_user1" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\AutoIT Files\Fileupload.exe" />
    <add key="autoit_user2" value="C:\Users\abhib\source\repos\Facebook_beta_testing\Facebook_beta_testing\AutoIT Files\Fileupload_User2.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>